{% extends "base.html.twig" %}

{% block title %}Application Gestion - Accueil
{% endblock %}

{% block body %}
    <div class="container mt-4">
        <div class="jumbotron">
            <h1 class="display-4">Bienvenue !</h1>
            <p class="lead">Nous sommes une entreprise de réparation de serveurs qui intervient chez nos clients partout en France.</p>
            <hr class="my-4">
            <p>Pour commencer, rendez-vous sur la page d'inscription pour t'inscricre.</p>
            <a class="btn btn-primary btn-lg" href="#" role="button">Inscription</a>
            <hr class="my-2">
            <p>Si vous avez déja un compte authentifier vous </p>
        </div>        
</div>
    
{% endblock %}

